.ab-button {
  height: 34.4px;
  margin-bottom: 16px;
  border-radius: 3px;
  display: block;
  padding: 8px 10px;
  width: 100%;
  background-color: #ed106a;
  color: white;
  overflow: hidden;
  transition: background-color 0.2s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.ab-button:hover {
  background-color: #c50d58;
  color: white;
  text-decoration: none;
}

.ab-button .ab-logo {
  height: 17.2px;
  filter: brightness(0) invert(1);
  margin-right: 10px;
}

.ab-button .ab-banner {
  padding-top: 2px;
  fill: white;
}
